.header{
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 10px;
    overflow: auto;
}
.headerText{
    float: left;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
    font: 70px Helvetica, sans-serif;
    color: #383838;
    font-weight: bold;
}
.headerImg{
    float: right;
    max-width: 10%;
    height: auto;
}
.headerImg a{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 925px){
    .headerText{
        font-size: 7.5vw;
    }
}