header {
    background-color: #004e87;
}

h1 {
    font-family: 'Cantata One', serif;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.jumbotron {
    font-family: 'Antic Slab', serif;
    color: #004e87;
}

.text-secondary {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.hovElement:hover {
    background-color: #dee2e6;
}