h2 {
    font-size: 35px;
    font-weight: bold;
    padding: 4px;
    margin: 0px 0px 0px 456.62px;
}
h3 {
    color: royalblue;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    margin: 0px 0px 0px 456.62px;
}
p {
    font-size: 20px;
    padding: 4px;
    margin: 0px 0px 0px 456.62px;
}
.divYear {
    padding: 10px;
    margin: 8px;
    background: #f9f9f9;
}
.divYear h2, h3, p {
    background: #f9f9f9;
    font-family: "Times New Roman", serif;
}