/*header goes here*/
.header{
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
height: 100px;
width: 100%;
margin: 0;
}

.headText{
    font: bold 85px century gothic, serif;
    flex: 75%;
    text-align: left;
}

.headerImg{
    flex: 25%;
    padding: 0;
    height: auto;
}

.nav{
overflow: hidden;
}

.nav a{
float: left;
display: block;
text-align: center;
border-style: none solid;
}