/*header goes here*/
.header{
float: left;
display: block;
height: 200px;
margin: 0;
}

.headText{
    font-family: "Franklin Gothic", Gothic, sans-serif;
    width: 75%;
    text-align: left;
}

.headImg{
    width: 25%;
    padding: 0;
    background: url("images/header.jpeg") no-repeat right;
}

.nav{
overflow: hidden;
}

.nav a{
float: left;
display: block;
text-align: center;
border-style: none solid;
}