/*header goes here*/
.header{
    height: 100px;
    margin: 0;
    background: url(images/header.jpeg) no-repeat fixed right top;
    background-size: auto 100px;
    text-align: left;
    white-space: nowrap;
    font: bold 70px century gothic, serif;
}

.nav{
overflow: hidden;
}

.nav a{
float: left;
display: block;
text-align: center;
border-style: none solid;
}
